body {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background: linear-gradient(#141414 0%, #14141499 60%, #14141400 100%);
    position: fixed;
    left: 0;
    top: 0;
}

.background {
    background-image: url(../img/posters/dbsuper.png);
    width: 100vw;
    height: 100vh;
    margin: 0;
}